/assets/
/coremods/
/dakimakura-mod/
/dumps/
/llibrary/
/local/
/logs/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/vintagefix/
/xaero/
/XaeroWaypoints_BACKUP240807/
/mods/

*.log
*.txt
*.json

icon.png
