/assets/
/coremods/
/dakimakura-mod/
/dumps/
/llibrary/
/local/
/logs/
/resourcepacks/
/saves/
/screenshots/
/server-resource-packs/
/shaderpacks/
/texturepacks/
/vintagefix/
/xaero/
/XaeroWaypoints_BACKUP240807/
/mods/

crafttweaker.log
dropt.log
icon.png
options.txt
optionsof.txt
usercache.json
usernamecache.json

config/customloadingscreen_timings.nbt
config/fantasticlib/reference/blocks.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/enchantments.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/potion_types.txt
config/fantasticlib/reference/recipes.txt
config/splash.properties
config/xaerominimap_entities.json
